<!--   First block Start   -->
  <section id="first-block2">
    <div class="title-container">
      <h1>茶道江戸千家の世界</h1>
      <h3>~ Geeksalon Webコース1期生 ~</h3>
    </div>
  </section>
  <!--   First block End   -->
  <!--   Second block Start   -->
  <section id="second-block">
    <p class="info-title">
        About me
    </p>
    <div class="about-container">
      <p class="info-text">
        <b>あいさつ・茶碗の移動</b>
        <br>
        <span class="font-small">
正客は茶碗を次客との間に置く。畳の縁内に。
正客：「おさきに」
と次客に行のおじぎをする。
次客：「どうぞ」
とおじぎをする。
茶碗を正面に置いてお茶を点てた方にごあいさつをする。
「お点前ちょうだいいたします」
と真のおじぎ。

次客がいただく時は、畳の縁内、正客との間に置いて、
「お相伴いたします」
と行のおじぎをする。次客以降の方が上座の方へするごあいさつ。
三客には「おさきに」とごあいさつ。「ご相伴」はご一緒するという意味。
        </span>
        <image src="/assets/rectangle_large_type_2_fa601d34ab5e88626ef608887291c1d4.webp" class="garden2-image"width="300">
      </p>

      <p class="info-text">
        <b>お茶の飲み方</b>
        <br>
        <span class="font-small">
        １．右手で横からお茶碗を持ち、左手の上にのせる。２．右手の親指を手前にして横から添える。感謝の気持ちを込める。（ここ一礼したか次の時確認）３．お茶碗を右手で横から持ち、横から手前、横から手前と2回時計回りに茶碗を回す。４．右手を横から添えて（写真↑みたいに）、お茶をいただく。最後の1口は「ズッ」と音をたてる。吸い切りという。５．親指と人差し指で飲み口を清め（拭き）、指先をお菓子をいただいた際に使った懐紙で拭く。６．手前から横、手前から横とお茶碗を反時計回りにまわし正面の向きを戻す。７．右手で横から持ち（親指が上）、畳の縁外に置く。
        <br>
        <image src="/assets/inside_gate2.jpg" class="inside_gate2-image">
      </p>

      
      <p class="info-text">
        <b>茶碗の拝見の仕方</b>
        <br>
        <span class="font-small">
        「拝見させていただきます」と真のおじぎをする。（あいさつの言葉次の時確認）上から全体を拝見し、そのあと両肘を畳について持ち上げ、側面や裏など細部まで見ます。背面には作り手の名前が書かれているのでそれも確認。
        <br>
        <image src="/assets/iemoto.jpg" class="iemoto-image">
      </p>


    
    