<!--   First block Start   -->
  <section id="first-block2">
    <div class="title-container">
      <h1>茶道江戸千家の世界</h1>
      <h3>~ Geeksalon Webコース1期生 ~</h3>
    </div>
  </section>
  <!--   First block End   -->
  <!--   Second block Start   -->
  <section id="second-block">
    <p class="info-title">
        About me
    </p>
    <div class="about-container">
      <p class="info-text">
        <b>初代　川上不白</b>
        <br>
        <span class="font-small">
        川上不白（享保四年～文化四年　九十歳）は紀州の新宮で生れ、紀伊藩江戸詰家老水野家の家臣として江戸に出ます。将軍吉宗による紀伊の勢力を背景に、京都へ茶の湯の修業に送られ、表千家の七代如心斎の元で修業を重ねて千家流の茶人になりました。
        <br>
        江戸に帰任して紀伊藩の茶頭としての仕事を務めます。この時季、上方から江戸へという経済や文化の流れのなかで、武家社会とそれに連なる町人社会に茶道を広めました。
        <br>
        また不白自身、江戸の町人文化の影響を受けながら京都とはまた違った江戸前の茶風をつくりあげました。
        </span>
        <image src="/assets/garden2.jpg" class="garden2-image">
      </p>

      <p class="info-text">
        <b>七代  蓮々斎</b>
        <br>
        <span class="font-small">
        流祖不白の家系を継ぐ江戸末期から明治の人。維新とともに代々続いた紀伊藩水野家の茶頭職の地位を離れ、故郷新宮に帰ります。
        <br>
        明治の初年に東京に戻り、やがてこの池之端の地に茶家を復興しました。そして文明開化から日本の伝統文化が見直されるなかで、徐々に門人を増やしてゆきました。谷中にある流祖の菩提寺安立寺の墓所を継承し、東都における不白流茶道の家元として江戸千家七代を名のりました。
        <br>
        <image src="/assets/inside_gate2.jpg" class="inside_gate2-image">
      </p>

      
      <p class="info-text">
        <b>八代　一元斎不白</b>
        <br>
        <span class="font-small">
        蓮々斎の養嗣子として八代を継承し、大正から昭和の戦前までを江戸千家の当主として勤めました。岩手の南部藩、上越の高田藩、高知の土佐藩、久留米の有馬藩など、不白流の茶道が伝えられていた各地との繋がりを復活させてゆきました。
        <br>
        <image src="/assets/iemoto.jpg" class="iemoto-image">
      </p>


    
    </div>
    <div class="about-container2">
      <p class="info-text">
        <b>九代　名元庵宗雪</b>
        <br>
        <span class="font-small">
        一元斎の嗣子。病後は家族並びに社中の協力を得ながら、戦後の経済復興、文化の拡がりに乗って、江戸千家茶道の流儀を展げました。
      </p>

      <p class="info-text2">
        <b>十代（当代)　名心庵宗雪</b>
        <br>
        <span class="font-small">
        名元庵の嗣子。昭和四十年継承、今日に至っています。これからの茶家のあり方について工夫を重ねています。
      </p>


    
    </div>
    </section>